apiVersion: v1
kind: Secret
metadata:
  name: paperless-secrets
  namespace: paperless
stringData:
  PAPERLESS_SECRET_KEY: ""
  POSTGRES_PASSWORD: "paperless"
  POSTGRES_USER: "paperless"
  POSTGRES_DB: "paperless"
  REDIS_PASSWORD: ""